<form method="post" action="{{ path('pizza_recipe_delete', {'id': pizza_recipe.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ pizza_recipe.id) }}">
    <button class="btn">Delete</button>
</form>
