{% extends 'base.html.twig' %}

{% block title %}Edit PizzaRecipe{% endblock %}

{% block body %}
    <h1>Edit PizzaRecipe</h1>

    {{ include('pizza_recipe/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('pizza_recipe_index') }}">back to list</a>

    {{ include('pizza_recipe/_delete_form.html.twig') }}
{% endblock %}
