{% extends 'base.html.twig' %}

{% block title %}PizzaRecipe index{% endblock %}

{% block body %}
    <h1>{% trans %}Liste des recettes de Pizza{% endtrans %}</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Recipe</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for pizza_recipe in pizza_recipes %}
            <tr>
                <td>{{ pizza_recipe.id }}</td>
                <td>{{ pizza_recipe.name }}</td>
                <td>{{ pizza_recipe.recipe }}</td>
                <td>
                    <a href="{{ path('pizza_recipe_show', {'id': pizza_recipe.id}) }}">show</a>
                    <a href="{{ path('pizza_recipe_edit', {'id': pizza_recipe.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('pizza_recipe_new') }}">Create new</a>
{% endblock %}
