{% extends 'base.html.twig' %}

{% block title %}New PizzaRecipe{% endblock %}

{% block body %}
    <h1>Create new PizzaRecipe</h1>

    {{ include('pizza_recipe/_form.html.twig') }}

    <a href="{{ path('pizza_recipe_index') }}">back to list</a>
{% endblock %}
