{% extends 'base.html.twig' %}

{% block title %}PizzaRecipe{% endblock %}

{% block body %}
    <h1>PizzaRecipe</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ pizza_recipe.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ pizza_recipe.name }}</td>
            </tr>
            <tr>
                <th>Recipe</th>
                <td>{{ pizza_recipe.recipe }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('pizza_recipe_index') }}">back to list</a>

    <a href="{{ path('pizza_recipe_edit', {'id': pizza_recipe.id}) }}">edit</a>

    {{ include('pizza_recipe/_delete_form.html.twig') }}
{% endblock %}
